$bg: #0A0C0F;

%Inter-500{
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}
%Inter-600 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}
%Inter-700 {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
}